Architecture: iphoneos-arm
Depends: firmware (>= 3.0), mobilesubstrate (>= 0.9.6011), preferenceloader
Name: Cylinder
Version: 1.0.7~beta1
Package: com.rgx.cylinder12
Section: Tweaks
Icon: file:///Library/PreferenceBundles/CylinderSettings.bundle/Icon@2x.png
Author: Reed Weichler (rweichler) <rweichler+cydia@gmail.com>
Maintainer: RoyalGraphX <royalgraphx0@gmail.com>
Homepage: http://github.com/rweichler/cylinder
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=cylinderDp
Description: Make your icons dance
