Package: com.rgx.anapods
Name: Burgandy AirPods (iOS 12) (AirPort Animation)
Conflicts: com.boo.airport13
Depends: firmware (>= 11.0), com.boo.airport
Version: 1.0
Architecture: iphoneos-arm
Description: Title says it all.
Maintainer: RoyalGraphX
Author: RoyalGraphX
Section: AirPort (iOS 12) - Custom Animations
