Package: com.homemadetoast.repofinder
Name: RepoFinder
Architecture: iphoneos-arm
Description: Jailbreak tool for finding and adding your favorite repositories
Maintainer: HomemadeToast
Author: HomemadeToast
Section: Apps
Version: 1.0
