Package: com.gilesgc.youplayer
Name: YouPlayer
Depends: mobilesubstrate, com.muirey03.libimagepicker
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: gilesgc
Author: gilesgc
Section: Tweaks
Version: 0.0.1-48
Installed-Size: 320
