Package: com.rgx.lvstatic
Name: Louis Vuitton Static (iOS 12) (AirPort Animation)
Depends: firmware (>= 11.0), com.boo.airport
Conflicts: com.boo.airport13
Version: 1.0
Architecture: iphoneos-arm
Description: Once I finish the 3D model, for now use this :P
Maintainer: RoyalGraphX
Author: RoyalGraphX
Section: AirPort (iOS 12) - Custom Animations
