Package: com.rgx.13bundleid
Name: 13BundleID
Depends: mobilesubstrate
Version: 1.0.0
Installed-Size: 152
Architecture: iphoneos-arm
Description: Display's an Applications Bundle Identifier in the Context Menu.
SileoDepiction: https://raw.githubusercontent.com/royalgraphx0/royalrepo/master/depictions/13bundleid/depiction.json
Depiction: https://royalgraphx0.github.io/royalrepo/depic/13BundleID/index.html
Maintainer: RoyalGraphX
Author: RoyalGraphX
Section: Tweaks
