Package: com.rgx.sbew98bundle
Name: SBEW98 Bundle
Depends: firmware (>= 11.0)
Version: 1.0
Architecture: iphoneos-arm
Description: SBEW98 Bundle
Maintainer: RoyalGraphX
Author: RoyalGraphX
SileoDepiction: https://raw.githubusercontent.com/royalgraphx0/royalrepo/master/depictions/sbew98bundle/depiction.json
Icon: https://github.com/royalgraphx0/royalrepo/raw/master/projects/com.rgx.sbew98bundle/var/mobile/Documents/RGX/icons/SBEW98Icon%402x.png
Section: XenHTML SBHTML
