Package: com.rgx.sbew98bundle
Name: SBEW98 Bundle
Depends: firmware (>= 11.0)
Version: 1.0
Architecture: iphoneos-arm
Description: SBEW98 Bundle
Maintainer: RoyalGraphX
Author: RoyalGraphX
SileoDepiction: https://raw.githubusercontent.com/royalgraphx0/royalrepo/master/depictions/sbew98bundle/depiction.json
Icon: file:///var/mobile/Library/SBHTML/SB EW98 Dark/Icon/Icon@2x.png
Section: XenHTML SBHTML
