Package: com.rgx.spotilife
Name: Spotilife
Version: 1.0
Depends: mobilesubstrate
Architecture: iphoneos-arm
Author: RoyalGraphX <royalgraphx0@gmail.com>
Depiction: http://repo.hackyouriphone.org/depiction/depiction.php?filename=spotilife
Section: Tweaks
Description: Spotify Unlimited Skips, Remove ADs, Extreme Quality Stream Unlocked... Requires Spotify App (AppStore)
Maintainer: RoyalGraphX <royalgraphx0@gmail.com>
