Package: com.rgx.ghostpods
Name: Ghost AirPods (AirPort Animation)
Depends: firmware (>= 11.0), com.boo.airport
Version: 1.0
Architecture: iphoneos-arm
Description: Ghost Styled AirPods.
Maintainer: RoyalGraphX
Author: RoyalGraphX
Section: AirPort - Custom Animations
