Package: com.rgx.lighttube
Name: LightTube
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: THE WORLDS MOST lightweight, simple, and ad free YouTube Premium features for free!
Maintainer: Alan (RGX)
Author: Alan (RGX)
Section: Tweaks
Icon: https://raw.githubusercontent.com/royalgraphx0/royalrepo/master/projects/com.rgx.lighttube/Library/RGX/rgxlighttube.png
Version: 0.0.1-4+debug
Installed-Size: 108
