Package: com.rgx.3dbundleid
Name: 3DBundleID
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Display's an Applications Bundle Identifier in the 3D Touch Menu.
Maintainer: RoyalGraphX
Author: RoyalGraphX
Section: Tweaks
SileoDepiction: https://raw.githubusercontent.com/royalgraphx0/royalrepo/master/depictions/3dbundleid/depiction.json
Version: 0.0.1-45+debug
Installed-Size: 120
