Package: com.rgx.3dbundleid
Name: 3DBundleID
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: RGX
Author: RGX
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 152
