Package: com.rgx.twig
Name: Twig
Depends: mobilesubstrate, firmware (>= 11.0)
Architecture: iphoneos-arm
Description: Add some Weather to your iOS 11/12 Lockscreen!
Maintainer: RoyalGraphX
Author: RoyalGraphX
Section: Tweaks
SileoDepiction: https://raw.githubusercontent.com/royalgraphx0/royalrepo/master/depictions/twig/depiction.json
Icon: file:///Library/PreferenceBundles/TwigPrefs.bundle/TwigIcon@2x.png
Version: 2.0.0-35+debug
Installed-Size: 484
